<%- include("../../partials/user/header") %>

    <div class="max-w-6xl mx-auto py-10 flex gap-8">
        <!-- LEFT SIDEBAR -->
        <aside class="w-64 bg-lime-100 rounded-xl p-6 shadow">
            <div class="flex items-center gap-4 mb-6">
                <div class="w-12 h-12 rounded-full bg-black">
                    <img src="<%= user.profileImage || '/images/default-avatar.png' %>" alt="Profile Image"
                        class="w-full h-full object-cover" />
                </div>
                <p class="font-semibold">
                    <%= user.fullName %>
                </p>
            </div>

            <ul class="space-y-4 text-sm font-medium">
                <li><a href="/user/profile/profile" class="flex gap-2 items-center"><i data-lucide="user"></i>My
                        Profile</a></li>
                <li><a href="/user/profile/address" class="flex gap-2 items-center font-semibold"><i
                            data-lucide="map-pin"></i>Address</a></li>
                <li><a href="/user/profile/orders" class="flex gap-2 items-center"><i data-lucide="package"></i>My
                        Order</a></li>
                <li><a href="/user/profile/wallet" class="flex gap-2 items-center"><i data-lucide="wallet"></i>My
                        Wallet</a>
                </li>
                <li><a href="/user/profile/coupons" class="flex gap-2 items-center"><i
                            data-lucide="ticket-percent"></i>My
                        Coupons</a></li>
                <li><a href="/user/profile/delete-account" class="flex gap-2 items-center text-red-600"><i
                            data-lucide="trash-2"></i>Delete Account</a></li>
                <li><a href="/user/profile/referral" class="flex gap-2 items-center"><i
                            data-lucide="share-2"></i>Referral
                        Code</a></li>
            </ul>
        </aside>
        <!-- RIGHT CONTENT -->
        <% const item=order.orderItems.find( i=> i._id.toString() === itemId.toString())%>

            <section class="flex-1 bg-white rounded-xl shadow p-6">

                <!-- Header -->
                <div class="flex justify-between items-start mb-6">
                    <div>
                        <h2 class="text-xl font-semibold">Order Details</h2>
                        <p class="text-sm text-gray-500 mt-1">
                            Order ID: <span class="font-medium">
                                <%= order.orderId %>
                            </span>
                        </p>
                        <div>
                            <%if(order.coupons && order.coupons.length > 0){%>
                                <p class="text-green-400">₹<%= order.coupons[0].code %>applied
                                </p>
                                <%}%>
                        </div>
                        <div>
                            <p class="text-sm text-gray-700">Payment Method:<%= order.paymentMethod %></p>
                            <p class="text-sm text-gray-700">Payment Status:<%= order.payment.status %></p>
                            <p class="text-sm text-gray-700">Order Date:<%= order.createdAt.toDateString() %></p>
                            <p class="text-sm text-gray-700">PlatformFee:<%= order.platformFee %></p>
                            <p class="text-sm text-gray-700">DeliveryCharge:<%= order.deliveryCharge %></p>
                            <p class="text-sm text-gray-700">Total Order Amount:₹<%= order.finalAmount %></p>
                            <p>
                                OrderStatus:
                                <span class="text-sm text-gray-700
          <%= order.orderStatus === 'delivered' ||order.orderStatus==='shipped' 
            ? 'text-green-600'
            : order.orderStatus === 'cancelled' || order.orderStatus === 'returned' 
            ? 'text-red-600'
            :order.orderStatus ==='partially_delivered'|| order.orderStatus === 'partially_returned' ||order.orderStatus ==='partially_cancelled' 
            ? 'text-blue-600'
            : 'text-yellow-600' %>">
                                    <%= order.orderStatus%>
                                </span>
                            </p>

                        </div>
                    </div>

                    <% if (item && item.itemStatus==='delivered' ) { %>
                        <a href="/user/profile/orders/<%= order.orderId %>/items/<%= item._id %>/invoice"
                            class="border px-4 py-2 rounded text-sm">
                            Download Invoice
                        </a>
                        <% } %>
                </div>

                <% if (!item) { %>
                    <p class="text-sm text-red-500">Item not found in this order.</p>
                    <% } else { %>

                        <!-- Item Card -->
                        <div class="border rounded-lg p-5 flex gap-6">

                            <!-- Image -->
                            <img src="<%= item.image %>" class="w-24 h-32 object-cover rounded"
                                alt="<%= item.productName %>" />

                            <!-- Item Info -->
                            <div class="flex-1 space-y-2 text-sm">

                                <h3 class="font-medium text-base">
                                    <%= item.productName %>
                                </h3>

                                <p>Price: ₹<%= item.variantId.price %>
                                </p>
                                <p>Quantity: <%= item.quantity %>
                                </p>

                                <% if (item.discount && item.discount> 0) { %>
                                    <p class="text-green-600">
                                        Offer Discount: -₹<%= item.discount %>
                                    </p>
                                    <% } %>

                                        <% if (item.couponShare && item.couponShare> 0) { %>

                                            <p class="text-green-600">
                                                Coupon Discount: -₹<%= item.couponShare %>
                                            </p>
                                            <% } else { %>
                                                <p class="text-gray-400">No coupon applied</p>
                                                <% } %>

                                                    <p class="font-medium">
                                                        Final Amount: ₹<%= item.finalItemAmount %>
                                                    </p>

                                                    <p>
                                                        Status:
                                                        <span class="font-medium
          <%= item.itemStatus === 'delivered'
            ? 'text-green-600'
            : item.itemStatus === 'cancelled' || item.itemStatus === 'returned'
            ? 'text-red-600'
            : 'text-yellow-600' %>">
                                                            <%= item.itemStatus %>
                                                        </span>
                                                    </p>

                            </div>
                        </div>

                        <!-- Order Summary -->
                        <div class="mt-6 border-t pt-4 text-sm space-y-1">
                           

                        </div>

                        <% } %>
            </section>
    </div>

    <%- include("../../partials/user/footer") %>
        <script>
            lucide.createIcons()

        </script>